.msg{
    padding: 5px 7px;
    border: 1px solid #e4143f;
    background-color: #fd7a7a;
    border-radius: 3px;
    width: fit-content;
    margin: auto;
    color: #d60c34;
    position: absolute;
    bottom: 397px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
