.loop-machine-container{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("https://res.cloudinary.com/dzvebcsrp/image/upload/v1621877955/aditya-chinchure-ZhQCZjr9fHo-unsplash_vi7f7k.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    &:before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}
.controls{
    flex: 1;
    position: absolute;
    z-index: 1;
}

.inspiration-text{
  font-family: "Montserrat";
  position: absolute;
  bottom: 405px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  .loop-machine-container{
    overflow-x: hidden;
  }
  .inspiration-text{
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  .inspiration-text{
    font-size: 22px;
  }
  .loop-machine-container{
    overflow: hidden;
  }
  
}

//---------------------main-background---------------------------------
.wall{
  background: url("https://res.cloudinary.com/dzvebcsrp/image/upload/v1621877955/aditya-chinchure-ZhQCZjr9fHo-unsplash_vi7f7k.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: fade 12s infinite linear;
  animation-delay: 0;
}
  

.scene{
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
  position: relative;
}
  
.wrap{
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards;
  &:nth-child(2){
    animation: move 12s infinite linear;
    animation-delay: 6s;
    .wall {
      animation-delay: 6s;
    }
  }
}

  
.wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
  transform: rotateX(180deg) translateZ(500px);
}
  
@keyframes move {
  0%{
    transform: translateZ(-500px) rotate(0deg);
  }
  100%{
    transform: translateZ(500px) rotate(0deg);
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

